<!DOCTYPE html>
<html>
<head>
	<title>All patients</title>
</head>
<body>
<nav><%- include('base') %></nav>
	<ul class="list-group">
		<% patients_list.forEach(pat=>{ %>
		<div class="table-bordered border-primary bg-dark">
		<li style="font-size: 20px; color: brown;" class="list-group-item"><%= pat.name %></li>
		<p style="text-indent:20px;" class="list-group-item">age : <%= pat.age %></p>
		<p style="text-indent:20px;" class="list-group-item">Phone :<%= pat.phone %></p>
		<p style="text-indent:20px;" class="list-group-item">disease : <%= pat.disease %></p>
		<p style="text-indent:20px;" class="list-group-item">patient_history : <%= pat.patient_history %></p>
		<p style="text-indent:20px;" class="list-group-item">detial :<%= pat.detial %></p>
		<p style="text-indent:20px;" class="list-group-item">next_appointment :<%= pat.next_appointment %></p>
		<p style="text-indent:30px; font-size: 20px" class="list-group-item">Appointments</p>
			<table style="background-color: grey" class="table bg-light">
			<% pat.appointments.forEach(appointment=>{ %>
				<td style="text-indent:40px;" ><li >Date : <%= appointment.date %></li></td>
				<td style="text-indent:40px;" ><li>Symptoms : <%= appointment.symptoms %></li></td>
				<td style="text-indent:40px;"><li>Fee : <%= appointment.fee %></li></td>
				<td style="text-indent:40px;"><li>notes : <%= appointment.notes %></li></td>
				<% appointment.medicines.forEach(medicine=>{ %>
					<td style="text-indent:40px;"><div>Name : <%= medicine.name %></div></td>
					<td style="text-indent:40px;"><div>Quantity : <%= medicine.quantity %></div></td>
					<td style="text-indent:40px;"><div>Morning : <%= medicine.morning %></div></td>
					<td style="text-indent:40px;"><div>Afternoon : <%= medicine.afternoon %></div></td>
					<td style="text-indent:40px;"><div>Night : <%= medicine.night %></div></td>
				<% }) %>
			<% }) %>
			</ol>
		</div>
		<% }) %>
	</ul>
</body>
</html>